{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": ["react", "import", "jsx-a11y"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "spread": true,
            "destructuring": true,
            "templateStrings": true,
            "modules": true,
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "rules": {
        "indent": ["error", 4],
        "quotes": [1, "single"],
        "no-mixed-operators": "off",
        "prefer-arrow-callback": "warn",
        "prefer-const": "warn",
        "object-curly-spacing": ["error", "always"],
        "linebreak-style": "off",
        "import/no-unresolved": "off",
        "import/extensions": ["off", [".js", ".jsx"]],
        "import/no-extraneous-dependencies": "off",
        "react/forbid-prop-types": "off",
        "react/prefer-stateless-function": [0, { "ignorePureComponents": false }],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-closing-tag-location":"off",
        "no-unused-expressions":"off",
        "prefer-destructuring":"off",
        "react/prop-types":"off",
        "react/no-unused-state":"off",
        "jsx-a11y/label-has-for":"off",
        "jsx-a11y/click-events-have-key-events":"off",
        "jsx-a11y/no-static-element-interactions":"off",
        "no-plusplus":"off",
        "react/jsx-no-duplicate-props":"off",
        "no-template-curly-in-string":"off",
        "jsx-a11y/no-autofocus":"off",
        "camelcase":"off",
        "max-len":"off",
        "no-unused-vars":"off",
        "jsx-a11y/anchor-is-valid": "off",
        "jsx-a11y/href-no-hash": "off"
    }
}