@import url('https://fonts.googleapis.com/css?family=Lobster|Patua+One|Tillana');
.background {
  background: url('images/chicken.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0% 0 10% 0;
  color: blueviolet
}

.navigation {
  background-color: beige;
  height: 80px;
  padding: 5px;
}

.nav {
  float: right;
}

#login {
  border-radius: 10px;
  background-color: rgb(212, 204, 204);
  width: 85px;
  height: 40px;
  font-size: 34px;
  margin-top: -25px;
  padding-right: 150px;
  padding-bottom: 50px;
  margin-right: 10px;
}

#signup {
  border-radius: 10px;
  background-color: rgb(212, 204, 204);
  width: 85px;
  height: 40px;
  font-size: 34px;
  margin-top: -25px;
  padding-right: 150px;
  padding-bottom: 50px;
  margin-right: 10px;
}

#header {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.Welcome {
  text-align: center;
  color: blueviolet;
  font-family: 'Tillana', cursive;
  font-size: 40px;
  padding-top: 250px;
  display: block;
  background: #e9ecef00;
  height: 300px;
  width: 1000px;
}

.signup-form {
  width: 100%;
  padding-right: 15px;
  padding-left: 250px;
  margin-right: auto;
  margin-left: -160px;
  padding-top: -10px;
  color: mediumseagreen;
  text-align: center;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  padding-right: 1000px;
}

.username {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 50px;
  padding-left: 10px;
}

label.control-label {
  float: left;
  width: 10em;
  margin-right: -2em;
  margin-top: 2em;
  margin-left: 15px
}

.category-card {
  /* margin-top: 10px;
  margin-bottom: 10px; */
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
  width: 100px;
  height: 220px;
}
.card-deck .card {
  
}
.react-confirm-alert {
  color: red;
  background: #8ae04e;
}

.card-body {
  width: 20px;
  height: 100px;
}

.signup-bg {
  background: url('images/restaurant_icons.png') no-repeat;
  background-size: cover;
  margin-left: 260px;
  margin-top: 20px;
  padding-top: 10px;
  height: 1000px;
  font-size: 20px;
}

.register-info {
  width: 400px;
  height: 50px;
}

.signup-heading {
  text-align: center;
  padding-right: 135px;
}

.confirm-password {
  text-align: center;
  position: relative;
}

.register-label {
  text-align: center;
  position: relative;
  color: mediumseagreen;
}

.signup-bg-image {
  background: url('images/restaurant_icons.png') no repeat;
  color: mediumseagreen;
  font-weight: 900;
  font-size: 20px;
  height: 500px;
}

.login-bg {
  background: url('images/restaurant_icons.png') no-repeat;
  margin-left: 260px;
  margin-top: 20px;
  padding-top: 10px;
  height: 1000px;
  color: azure;
  font-weight: 900;
  font-size: 20px;
}

.signup-form {
  width: 100%;
  padding-right: 15px;
  padding-left: 250px;
  margin-right: auto;
  margin-left: -160px;
  padding-top: -10px;
  color: mediumseagreen;
  text-align: center;
}

.login-title {
  align-content: center;
  padding-left: 80px;
  padding-top: 150px;
  color: mediumseagreen;
}

.view-categories-head {
  background: url('images/signup-image.jpg') no-repeat;
  background-size: cover;
  height: 1000px;
  margin-top: 400px;
}

.no-categories {
  margin-left: 300px;
  margin-right: 300px;
  width: fit-content;
  height: fit-content;
}

.categories-header {
  text-align: center;
  font-size: 80px;
  color: rgb(43, 90, 222);
  font-family: 'Lobster', cursive;
}

.add-category {
  align-items: center;
  padding-left: 500px;
  width: fit-content;
  height: fit-content;
  margin-left: 400px;
  margin-top: -100px;
}

.addcategory-form {
  background: url('images/restaurant_icons.png') no-repeat;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  margin-right: 500px;
  height: fit-content;
}

.view-categories-title {
  text-align: center;
  font-size: 40px;
  color: rgb(43, 90, 222);
  font-family: 'Lobster', cursive;
}

.submit-button {
  margin-left: 8em;
  margin-top: 1em;
  font-size: 128%;
  color: #1641de;
  background-color: #b1cdea;
}

.login-register {
  margin-left: 4em;
  margin-top: 1em;
  font-size: 111%;
  color: #1641de;
}

input.username {
  width: 194px;
  height: 58px;
  margin-top: 31px;
  padding-top: 0px;
}

.login-button {
  font-size: 28px;
  margin-top: 34px;
  margin-left: 176px;
  color: #1641de;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.addrecipe-form {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  margin-right: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 800px;
  margin-top: -100px;
}

.search-form {
  margin-right: 100px;
}

.search-form-recipes {
  margin-right: 600px;
  margin-top: 150px;
}

.recipes-view {
  background: url('images/signup-image.jpg') no-repeat;
  background-size: cover;
  height: 1000px;
  margin-top: 400px;
}
.recipe-card{
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    width: 100px;
    height: 800px;
}